# Datasets (demasiado grandes para Git)
volumes/hdfs/data/raw/*.csv
volumes/hdfs/data/raw/*.xlsx
volumes/hdfs/data/clean/*.csv

# Filebrowser
volumes/hdfs/.filebrowser.db

# Python
__pycache__/
*.pyc
*.pyo
.ipynb_checkpoints/

# Sistema operativo
.DS_Store
Thumbs.db
